<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="services">
        <li ng-repeat="service in services | filter:query | orderBy:orderProp"
            class="thumbnail service-listing">
          <a href="#/services/{{service.id}}" class="thumb"><img ng-src="{{service.imageUrl}}"></a>
          <a href="#/services/{{service.id}}">{{service.name}}</a>
          <p>{{service.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
