.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
main:before,
main:after,
#document-search-explore:before,
#document-search-explore:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
main:after,
#document-search-explore:after {
  clear: both;
}
div.marketing-column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  div.marketing-column {
    float: left;
    width: 50%;
  }
}
table td.explore-cell {
  text-align: center;
  vertical-align: middle;
}
span.system {
  color: #428bca;
}
main {
  margin-left: -15px;
  margin-right: -15px;
}
span.annotation {
  background-color: #00ff00;
}
.document-text {
  text-align: justify;
}
.document-text > span.annotationInset {
  background-color: #66ffff;
}
.rotated {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
div.text-vert-middle {
  vertical-align: middle;
}
#analysis-header {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #analysis-header {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #analysis-header {
    margin-left: 25%;
  }
}
#analysis-results-list {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #analysis-results-list {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #analysis-results-list {
    margin-left: 25%;
  }
}
table.confusionMatrix {
  width: 400px;
  height: 400px;
}
table.confusionMatrix td.countCell {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
table.confusionMatrix th.occursDoesnt {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
table.confusionMatrix th.typeName {
  text-align: center;
  vertical-align: middle;
}
table.confusionMatrix th.firstTypeName {
  width: 100px;
}
table.confusionMatrix th.secondTypeName {
  height: 100px;
}
table.confusionMatrix td.highlighted {
  background-color: #00ff00;
}
#search-box {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #search-box {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #search-box {
    margin-left: 25%;
  }
}
#document-search-results {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #document-search-results {
    float: left;
    width: 100%;
  }
}
#document-search-explore {
  margin-left: 0;
  margin-right: 0;
}
#document-search-explore #document {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #document-search-explore #document {
    float: left;
    width: 91.66666667%;
  }
}
@media (min-width: 1200px) {
  #document-search-explore #document {
    float: left;
    width: 41.66666667%;
  }
}
#document-search-explore #annotations {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #document-search-explore #annotations {
    float: left;
    width: 41.66666667%;
  }
}
@media (min-width: 992px) {
  #document-search-explore #annotations {
    float: left;
    width: 41.66666667%;
  }
}
@media (min-width: 1200px) {
  #document-search-explore #annotations {
    float: left;
    width: 25%;
  }
}
#document-search-explore #details {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #document-search-explore #details {
    float: left;
    width: 58.33333333%;
  }
}
@media (min-width: 992px) {
  #document-search-explore #details {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #document-search-explore #details {
    float: left;
    width: 33.33333333%;
  }
}
.span-editor {
  height: 22px;
  position: relative;
}
.span-editor > .span-begin-editor,
.span-editor > .span-end-editor {
  position: absolute;
}
.span-editor > .span-begin-editor {
  left: 0px;
}
.span-editor > .span-end-editor {
  right: 0px;
}
