body
{
    background: white;
}
.navbar
{
    border:1px solid gray;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    background-color:#d0f0f6;
    text-align:left;
    padding:8px;
}

.example
{
    margin-left:5px;
    width:80%;
    background-color:#d0d0d0;
    text-align:left;
    padding:8px;
}
