<div class="page-header">
    <h1>BioMedICUS</h1>
    <h3>The BioMedical Information Collection and Understanding System 
    <br/><small>An open source solution for text analysis of biomedical and clinical reports.</small></h3>

</div>


<div class="row marketing">
    <div class="summary">
        <h4>Overview</h4>

        <p>
            The BioMedical Information Collection and Understanding System (BioMedICUS) leverages open source
            solutions for text analysis and provides new analytic tools for processing and analyzing text of
            biomedical and clinical reports. The system is being developed by our biomedical NLP/IE program at
            the University of Minnesota. This is a collaborative project that aims to serve biomedical and
            clinical researchers, allowing for customization with different texts.
        </p>
    </div>
</div>

<div class="row marketing">
    <div class="marketing-column">
        <h4>Demonstration</h4>

        <ul>
            <li><a href="familyhistory.jsp">Family History Extraction Demonstration</a></li>
        </ul>

        <h4>Source Code</h4>

        <p>
            BioMedICUS is an open source project distributed under the Apache (ASL 2.0) license.
            The source code is available at Bitbucket.org.
        </p>
        <ul>
            <li><a href="https://bitbucket.org/nlpie/biomedicus">bitbucket.org/nlpie/biomedicus</a></li>
        </ul>
    </div>
    <div class="marketing-column">
        <h4>Corpora</h4>

        <p>
            Development of BioMedICUS and training of model employed makes use of the following corpora:
            <ul>
        <li><a href="http://www.nactem.ac.uk/genia/">Genia Corpus</a></li>
        <li><a href="http://mtsamples.com">MT Samples</a></li>
        <li>Internal Clinical samples</li> - not publicly available
</ul>

        </p>
        <h4>About Us</h4>

        <p>
            NLP-TAB is developed by the <a href="http://www.bmhi.umn.edu/ihi/research/nlpie/">University of Minnesota
            Institute for Health Informatics NLP/IE Group</a> and the <a href="http://ohnlp.org/index.php/Main_Page">Open
            Health NLP Consortium</a>.
        </p>

        <h4>Other Resources</h4>

        <h5>BioMedICUS</h5>

        <ul>
            <li><a href="http://athena.ahc.umn.edu/biomedicus/">Demo</a></li>
            <li><a href="https://bitbucket.org/nlpie/biomedicus">Source Code</a></li>
        </ul>

        <h5>NLP-TAB</h5>

        <ul>
            <li><a href="http://athena.ahc.umn.edu/nlptab">Demo</a></li>
            <li><a href="http://bitbucket.org/nlpie/nlptab">Java Source Code</a></li>
            <li><a href="http://bitbucket.org/nlpie/nlptab-webapp">Web-app</a></li>
            <li><a href="http://bitbucket.org/nlpie/nlptab-corpus">Corpus</a></li>
        </ul>

        <h5>NLP/IE Group Resources</h5>

        <ul>
            <li><a href="http://www.bmhi.umn.edu/ihi/research/nlpie/resources/index.htm">Website</a></li>
            <li><a href="http://athena.ahc.umn.edu/">Demos</a></li>
        </ul>

        <h4>Acknowledgements</h4>

        <p>
            Funding for this work was provided by:
        </p>
        <ul>
            <li>1 R01 LM011364-01 NIH-NLM</li>
            <li>1 R01 GM102282-01A1 NIH-NIGMS</li>
            <li>U54 RR026066-01A2 NIH-NCRR</li>
            <li>1 R01 HS022085-01, AHRQ</li>
        </ul>
    </div>
</div>
