<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/main" class="navbar-brand">BioMedICUS</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="family-history-demo"><a href="#/family-history-demo">Family History</a></li>
            <li id="analysis"><a href="#/analysis">REST Annotation Services</a></li>
        </ul>
    </div>
</nav>