
<h1>{{service.name}}
</h1>

<p>{{service.description}}</p>
<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in service.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{service.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{service.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{service.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{service.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{service.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{service.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{service.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{service.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{service.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{service.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{service.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{service.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in service.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{service.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{service.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{service.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{service.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{service.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{service.hardware.usb}}</dd>
      <dt>Audio / headservice jack</dt>
      <dd>{{service.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{service.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{service.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{service.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{service.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{service.additionalFeatures}}</dd>
  </li>
</ul>
