<div class="page-header">
    <h1>BioMedICUS</h1>
    <h3>Family History Extraction Demonstration
    <br/><small>Automated extraction of family and observation predications from unstructured text.</small></h3>
</div>

<script id="embedding-entity-coll">
    var collData = {
        entity_types: [ {
            type   : 'Person',
            /* The labels are used when displaying the annotion, in this case
             we also provide a short-hand "Per" for cases where
             abbreviations are preferable */
            labels : ['Person', 'Per'],
            // Blue is a nice colour for a person?
            bgColor: '#7fa2ff',
            // Use a slightly darker version of the bgColor for the border
            borderColor: 'darken'
        } ]
    };
</script>

<script id="embedding-entity-doc">
    var docData = {
        // Our text of choice
        text     : "His maternal grandmother had heart disease.",
        // The entities entry holds all entity annotations
        entities : [
            /* Format: [${ID}, ${TYPE}, [[${START}, ${END}]]]
             note that range of the offsets are [${START},${END}) */
            ['T1', 'FamilyHistoryConstituent', [[4, 23]]],
            ['T2', 'FamilyHistoryConstituent', [[28, 41]]]
        ]
    };
</script>

<div id="embedding-entity-example"></div>

<script id="embedding-attribute-coll">
    collData['entity_attribute_types'] = [ {
        type  : 'Notorious',
        /* brat supports multi-valued attributes, but in our case we will only
         use a single value and add a glyph to the visualisation to indicate
         that the entity carries that attribute */
        values: { 'Notorious': { 'glyph': '★' } }
    } ];
</script>

<script id="embedding-attribute-doc">
    docData['attributes'] = [
        // Format: [${ID}, ${TYPE}, ${TARGET}]
        ['A1', 'maternal', 'T1']
    ];
</script>

<div id="embedding-attribute-example"></div>

<script id="embedding-relation-coll">
    collData['relation_types'] = [ {
        type     : 'FamilyHistory',
        labels   : ['FamilyHistory', 'Predication'],
        // dashArray allows you to adjust the style of the relation arc
        dashArray: '3,3',
        color    : 'purple',
        /* A relation takes two arguments, both are named and can be constrained
         as to which types they may apply to */
        args     : [
            //
            {role: 'Family', targets: ['FamilyHistoryConstituent'] },
            {role: 'Observation',  targets: ['FamilyHistoryConstituent'] }
        ]
    } ];
</script>

<script id="embedding-relation-doc">
    docData['relations'] = [
        // Format: [${ID}, ${TYPE}, [[${ARGNAME}, ${TARGET}], [${ARGNAME}, ${TARGET}]]]
        ['R1', 'FamilyHistory', [['Family', 'T1'], ['Observation', 'T2']]]
    ];
</script>

<div id="embedding-relation-example"></div>

<script id="embedding-event-coll">
    collData['event_types'] = [ {
        type   : 'Assassination',
        labels : ['Assassination', 'Assas'],
        bgColor: 'lightgreen',
        borderColor: 'darken',
        /* Unlike relations, events originate from a span of text and can take
         several arguments */
        arcs   : [
            {type: 'Victim', labels: ['Victim','Vict'] },
            // Just like the event itself, its arguments can be styled
            {type: 'Perpetrator', labels: ['Perpetrator','Perp'], color: 'green' }
        ]
    } ];
</script>

<script id="embedding-event-doc">
    /* Events also have trigger annotations, these are spans that are not
     visualised. This enables sharing of triggers when this is desirable, such
     as in the sentence "He robbed the bank and the post office", where
     "robbed" gives rice to two separate events that shares a single trigger */
    docData['triggers'] = [
        // The format is identical to that of entities
        ['T5', 'Assassination', [[45, 49]]],
        ['T6', 'Assassination', [[28, 32]]]
    ];

    docData['events'] = [
        // Format: [${ID}, ${TRIGGER}, [[${ARGTYPE}, ${ARGID}], ...]]
        ['E1', 'T5', [['Perpetrator', 'T3'], ['Victim', 'T4']]],
        ['E2', 'T6', [['Perpetrator', 'T2'], ['Victim', 'T3']]]
    ];
</script>

<div id="embedding-event-example"></div>

<div id="family-history-example"></div>

<div id="live-io">
    <p>
        <textarea id="coll-input" style="display:block;float:left;width:40%;height:400px;font-size:11px;border:2px inset"
                  placeholder="Enter JSON for the collection object here..."></textarea>

        <textarea id="doc-input" style="display:block;float:right;width:55%;height:400px;font-size:11px;border:2px inset"
                  placeholder="Enter JSON for the document object here..."></textarea>
    </p>
</div>

<!-- override a few style-vis.css settings for the embedded version to make things larger -->
<style type="text/css">
    text { font-size: 15px; }
    .span text { font-size: 10px; }
    .arcs text { font-size: 9px; }
</style>

<script type="text/javascript">
    var bratLocation = 'http://localhost:8001/';
    head.js(
            // External libraries
                    bratLocation + '/client/lib/jquery.min.js',
                    bratLocation + '/client/lib/jquery.svg.min.js',
                    bratLocation + '/client/lib/jquery.svgdom.min.js',


            // brat helper modules
                    bratLocation + '/client/src/configuration.js',
                    bratLocation + '/client/src/util.js',
                    bratLocation + '/client/src/annotation_log.js',
                    bratLocation + '/client/lib/webfont.js',
            // brat modules
                    bratLocation + '/client/src/dispatcher.js',
                    bratLocation + '/client/src/url_monitor.js',
                    bratLocation + '/client/src/visualizer.js'
    );

    var webFontURLs = [
                bratLocation + '/static/fonts/Astloch-Bold.ttf',
                bratLocation + '/static/fonts/PT_Sans-Caption-Web-Regular.ttf',
                bratLocation + '/static/fonts/Liberation_Sans-Regular.ttf'
    ];

    head.ready(function() {
        // Evaluate the code from the examples and show it to the user
        eval($('#embedding-entity-coll').text());
        eval($('#embedding-entity-doc').text());
        /* Make damn sure to copy the objects before handing them to brat
         since we will modify them later on */
        Util.embed('embedding-entity-example', $.extend({}, collData),
                $.extend({}, docData), webFontURLs);

        eval($('#embedding-attribute-coll').text());
        eval($('#embedding-attribute-doc').text());
        Util.embed('embedding-attribute-example', $.extend({}, collData),
                $.extend({}, docData), webFontURLs);

        eval($('#embedding-relation-coll').text());
        eval($('#embedding-relation-doc').text());
        Util.embed('embedding-relation-example', $.extend({}, collData),
                $.extend({}, docData), webFontURLs);

        eval($('#embedding-event-coll').text());
        eval($('#embedding-event-doc').text());
        Util.embed('embedding-event-example', $.extend({}, collData),
                $.extend({}, docData), webFontURLs);

        var collInput = $('#coll-input');
        var docInput = $('#doc-input');
        var liveDiv = $('#family-history-example');


        var liveDispatcher = Util.embed('family-history-example',
                $.extend({'collection': null}, collData),
                $.extend({}, docData), webFontURLs);

        var renderError = function() {
            // liveDiv.css({'border': '2px solid red'}); // setting this blows the layout
            collInput.css({'border': '2px solid red'});
            docInput.css({'border': '2px solid red'});
        };

        liveDispatcher.on('renderError: Fatal', renderError);

        var collInputHandler = function() {
            var collJSON;
            try {
                collJSON = JSON.parse(collInput.val());
                collInput.css({'border': '2px inset'});
            } catch (e) {
                // Not properly formatted JSON...
                collInput.css({'border': '2px solid red'});
                return;
            }

            try {
                liveDispatcher.post('collectionLoaded',
                        [$.extend({'collection': null}, collJSON)]);
                //liveDiv.css({'border': '2px inset'});  // setting this blows the layout
                docInput.css({'border': '2px inset'});
            } catch(e) {
                console.error('collectionLoaded went down with:', e);
                //liveDiv.css({'border': '2px solid red'});
                collInput.css({'border': '2px solid red'});
            }
        };

        var docInputHandler = function() {
            var docJSON;
            try {
                docJSON = JSON.parse(docInput.val());
                docInput.css({'border': '2px inset'});
            } catch (e) {
                docInput.css({'border': '2px solid red'});
                return;
            }

            try {
                liveDispatcher.post('requestRenderData', [$.extend({}, docJSON)]);
                // liveDiv.css({'border': '2px inset'});  // setting this blows the layout
                collInput.css({'border': '2px inset'});
            } catch(e) {
                console.error('requestRenderData went down with:', e);
                // liveDiv.css({'border': '2px solid red'});
                collInput.css({'border': '2px solid red'});
            }
        };

        // Inject our current example as a start
        var collJSON = JSON.stringify(collData, undefined, '    ');
        docJSON = JSON.stringify(docData, undefined, '    ');
        // pack those just a bit
        var packJSON = function(s) {
            // replace any space with ' ' in non-nested curly brackets
            s = s.replace(/(\{[^\{\}\[\]]*\})/g,
                    function(a, b) { return b.replace(/\s+/g, ' '); });
            // replace any space with ' ' in [] up to nesting depth 1
            s = s.replace(/(\[(?:[^\[\]\{\}]|\[[^\[\]\{\}]*\])*\])/g,
                    function(a, b) { return b.replace(/\s+/g, ' '); });
            return s
        }
        collInput.text(packJSON(collJSON));
        docInput.text(packJSON(docJSON));

        var listenTo = 'propertychange keyup input paste';
        collInput.bind(listenTo, collInputHandler);
        docInput.bind(listenTo, docInputHandler);
    });
</script>


<div id="footer">
    <p class="footer-text">&copy; 2010-2014 the <a href="about.html" style="color:gray">brat contributors</a></p>
    <p class="footer-logo"><a href="http://creativecommons.org/licenses/by/3.0/"><img title="Content on this website is licensed under a Creative Commons Attribution 3.0 License. (Linked corpus data licensed separately.)" src="http://i.creativecommons.org/l/by/3.0/80x15.png"/></a></p>
</div>
