<!--
  ~ Copyright (c) 2014 University of Minnesota
  ~
  ~  All rights reserved.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<div class="page-header">
    <h1>BioMedICUS</h1>
    <h3>The BioMedical Information Collection and Understanding System (BioMedICUS)
    <br/><small>An open source solution for text analysis of biomedical and clinical reports.</small></h3>

</div>

<div class="row marketing">
    <div class="summary">
        <h4>Overview</h4>

        <p>
            Some overview text.
        </p>
    </div>
</div>

<div class="row marketing">
    <div class="marketing-column">
        <h4>Demonstration</h4>

        <ul>
            <li><a href="http://localhost:8080/biomedicus-family-history/familyhistory">Family History Extraction Demonstration</a></li>
        </ul>
        <h4>Brat views</h4>

        <p>
            This web interface to BioMedICUS uses the Brat annotation system to display annotations.
        </p>

        <h4>REST annotation services</h4>

        <p>
            Some text about rest services with biomedicus
        </p>

        <h4>Source Code</h4>

        <p>
            BioMedICUS is an open source project distributed under the Apache (ASL 2.0) license.
            The source code is available at Bitbucket.org.
        </p>
        <dl class="dl-horizontal">
            <dt>UIMA and Analysis</dt>
            <dd><a href="https://bitbucket.org/nlpie/biomedicus">bitbucket.org/nlpie/biomedicus</a></dd>
        </dl>
    </div>
    <div class="marketing-column">
        <h4>Corpora</h4>

        <p>
            List information about Genia, MTSamples and the internal clinical corpus used to train models.
        </p>

        <h4>About Us</h4>

        <p>
            BioMedICUS is developed by the <a href="http://www.bmhi.umn.edu/ihi/research/nlpie/">University of Minnesota
            Institute for Health Informatics NLP/IE Group</a>.
        </p>
        <h4>Acknowledgements</h4>

        <p>
            Funding for this work was provided by:
        </p>
        <ul>
            <li>1 R01 LM011364-01 NIH-NLM</li>
            <li>1 R01 GM102282-01A1 NIH-NIGMS</li>
            <li>U54 RR026066-01A2 NIH-NCRR</li>
            <li>1 R01 HS022085-01 AHRQ</li>
        </ul>

    </div>
</div>